{{!-- The following component displays Ember's default welcome message. --}}
<!-- {{welcome-page}} -->
{{!-- Feel free to remove this! --}}
<p>before</p>
{{outlet}}
<p>after</p>
<!-- <h1>Hello {{planet}}</h1>

{{#each courses as |foo|}}
  {{course-list-item model=foo}}
{{/each}} -->




<!-- {{two-inputs str="Hello"}} -->

<!-- <ul>
  {{#each model as |course|}}
    <li>
      {{link-to course.title 'course' course.title}}
    </li>
  {{/each}}
</ul> -->
